body {
    /* Barva pisave pod značko oz. oznako */
    color: #333333; 
    /* Določanje pisave */
    font-family: Garamond, "Hoefler Text", "Times New Roman", Times, serif;
    /* Velikost pisave */
    font-size: 1.2em;
    /* Višina vrstice */
    line-height: 1.5;
    /* Največja širina vsebine spletne strani */
    max-width: 40em;
    /* Širina zunanjega roba */
    margin: auto;
    /* Obojestranska poravnava besedila */
    text-align: justify;

}

/* Odstranimo podčrtovanje povezav in outline */
a { text-decoration: none; outline:none; }
/* Spremenimo barve povezav */
a:link { color:#cc0000; }
a:visited { color:#660066; }
a:hover { color:#660066; }
a:active { color:#990000; outline:none; }

code {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: #009966;
}

h1 {
    color: #330066;
}

h2 {
    margin-top: 2em;
    border-top: 1px solid #AAAAAA;
    padding-top: 0.5em;
}
#uvod {
    padding: 2em;
    background-color: rgba(51, 0, 102, 0.1);
}

.slika {
    font-size: 0.9em;       /* Velikost pisave */
    width: 40%;             /* Širina */
    text-align: left;       /* Poravnava besedila */
    float: right;           /* Besedilo se ovija okoli slike */
    margin-left: 2em;       /* Prostora levo od slike */
}
.slika img {
    width: 100%;            /* Širina slike 100% starša */
    height: auto;           /* Ohranitev razmerja višine in širine */
}



